
div class="tabs-content" style="width:600px;margin:0 auto"
  - form_for :configuration, url(:configurations, :save), :method => "put", :class => 'form-horizontal' do |f|
    = partial 'configurations/form', :locals => { :f => f }
